<div class="row">
  <div class="col-sm-6 text-left">
    <p>
      {{ stock.symbol }}
      <sub>{{ stock.initialPrice | currency: "USD" }}</sub>
      <br />
      <small>{{ stock.name }}<br /> </small>
    </p>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4 text-right">
    {{ stock.price | currency: "USD" }}
    <br />
    {{ stock.increase | currency: "USD" }},
    {{ stock.increase / stock.initialPrice | percent }}
    <i *ngIf="stock.increase > 0" class="fa fa-arrow-up text-success"></i>
    <i *ngIf="stock.increase < 0" class="fa fa-arrow-down text-danger"></i>
  </div>
</div>
